{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block main %}
    <div class="container-fluid" style="margin-top: 80px;">
        <div class="row justify-content-center">

            <div class="col-xxl-3">
                <img src="/static/bora.png" height="800px" style="margin-bottom: 20px;">
            </div>

            <div class="col-xxl-5 mx-3">

                <h1>Nun Bora</h1>
                <p class="text-center">눈보라 / ヌンボラ &nbsp <a href="https://www.youtube.com/channel/UC1ZV7KBscK0EMoJKFu1DnDg" target="_blank" rel="noopener noreferrer"><img src="/static/yt.png" height="30px"></a></p>

                <div class="row justify-content-center" style="font-weight: 500; font-size:16px; margin-bottom: 20px;">
                    <div class="col-3">
                        Birthday: 01/05
                    </div>

                    <div class="col-6">
                        Nicknames: Bora-chan, Bora Nun
                    </div>

                    <div class="col-3">
                        Affiliation: Nijisanji (Retired)
                    </div>
                </div>

                <p class="text-start mx-auto" style="font-weight: 500; font-size:18px;">A Korean VTuber known for her crazy FPS skills and bright
                    personality. Although a Korean VTuber, she speaks Japanese fluently to the point where she regularly plays with other Japanese VTubers.
                    She sadly graduated from Nijisanji on November 30, 2021, to pursue her studies, leaving only two cover songs on her channel. However, rumor has it that
                    she's come back to the VTuber scene under another name...<a href="https://www.youtube.com/channel/UCIjdfjcSaEgdjwbgjxC3ZWg" style="display: none;"target="_blank" rel="noopener noreferrer">Hidden Link!</a></p>

                <div class="youtube-video-container">
                    <iframe class="d-block youtube-video" src="https://www.youtube.com/embed/_2UwazEMBqc" style="pointer-events: auto; margin-top:20px; margin-bottom:30px;"></iframe>
                </div>

            </div>

        </div>
    </div>
{% endblock %}