{% extends "layout.html" %}

{% block title %}
    Clippers
{% endblock %}

{% block main %}
    <div class="row pb-5 px-5" style="font-weight: 500; font-size:25px;">
        <p>Here are some YouTube translators that post clips from Geinin Ryodan and other VTuber streams!</p>
    </div>

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="https://www.youtube.com/channel/UCR3snSCKjn9V8JbZAQJ3B4g/featured" target="_blank" rel="noopener noreferrer">
                        <img src="/static/pebo.jpg" class="card-img-top-clippers" alt="Pebo-kun">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Pebo-kun TL ぺぼ</h5>
                        <p class="card-text">Focuses on clips that include Hendy, Lisa, and Kamito</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="https://www.youtube.com/channel/UC4DqAKyYEOdvX4VssJlc9_A" target="_blank" rel="noopener noreferrer">
                        <img src="/static/otaku.jpg" class="card-img-top-clippers" alt="Otaku-kun">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Otaku-kun subs</h5>
                        <p class="card-text">Focuses on OreApo clips (starting from when they met for the first time!)</p>
                    </div>
                </div>
            </div>

            <!-- <div class="w-100 d-none d-md-block"></div> -->

            <div class="col-md-4">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="https://www.youtube.com/channel/UCRn74MT0YhT5qefw6YD-R4g" target="_blank" rel="noopener noreferrer">
                        <img src="/static/like.jpg" class="card-img-top-clippers" alt="What I Like Subs">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">What I Like Subs</h5>
                        <p class="card-text">Focuses on Geinin Ryodan clips, mainly Kamito and Hinano</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="https://www.youtube.com/channel/UCvJfRWdbX1caTFeI3shxVAw" target="_blank" rel="noopener noreferrer">
                        <img src="/static/rsubs.jpg" class="card-img-top-clippers" alt="R Subs">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">R Subs</h5>
                        <p class="card-text">Has some Geinin Ryodan clips, but also has a lot of other VTuber content</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="https://www.youtube.com/channel/UC2WCyGPU5ZiKPkKSWgS8a-A" target="_blank" rel="noopener noreferrer">
                        <img src="/static/walnut.jpg" class="card-img-top-clippers" alt="Walnut TL">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Walnut TL</h5>
                        <p class="card-text">Focuses on VSPO! and Nijisanji content</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="https://www.youtube.com/channel/UCmd7vBobMteK27KIjACdirA" target="_blank" rel="noopener noreferrer">
                        <img src="/static/rinrinz.jpg" class="card-img-top-clippers" alt="rinrinz">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">rinrinz</h5>
                        <p class="card-text">Makes cute and funny OreApo animations. Turn on subtitles!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="https://www.youtube.com/c/UshodaSubs" target="_blank" rel="noopener noreferrer">
                        <img src="/static/ushoda.jpg" class="card-img-top-clippers" alt="Ushoda Subs">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Ushoda Subs</h5>
                        <p class="card-text">Focuses on Kanae, VSPO!, and other VTuber content</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="https://www.youtube.com/channel/UCEFzedyOtcg3dEtMPEbavKg" target="_blank" rel="noopener noreferrer">
                        <img src="/static/renri.jpg" class="card-img-top-clippers" alt="Renri">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Renri</h5>
                        <p class="card-text">Focuses on VSPO! clips, mainly Kogara Toto (a VSPO! member, not part of Geinin Ryodan but still fun to watch!)</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}