{% extends "layout.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block main %}
<div class="container w-50">
    <div class="container">
        <div class="accordion" id="faqPanel">

            <div class="accordion-item border-start-0 border-end-0 border-dark">
                <h2 class="accordion-header" id="faq1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q1" aria-expanded="false" aria-controls="q1">
                        What does Geinin Ryodan mean?
                    </button>
                </h2>
                <div id="q1" class="accordion-collapse collapse" aria-labelledby="faq1">
                    <div class="accordion-body">
                        <p>芸人旅団 "Geinin Ryodan" means <b>Comedian Brigade</b>.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item border-start-0 border-end-0 border-dark">
                <h2 class="accordion-header" id="faq2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q2" aria-expanded="false" aria-controls="q2">
                        What is OreApo?
                    </button>
                </h2>
                <div id="q2" class="accordion-collapse collapse" aria-labelledby="faq2">
                    <div class="accordion-body">
                        <p>Based on their hair colors, OreApo is the collab name for Kamito (<b>Oreo</b>) and Tachibana Hinano (<b>Apollo</b>). Apollo is a brand of chocolate in Japan that is pink and brown.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item border-start-0 border-end-0 border-dark">
                <h2 class="accordion-header" id="faq3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q3" aria-expanded="false" aria-controls="q3">
                        Why is Hendy called Hendy?
                    </button>
                </h2>
                <div id="q3" class="accordion-collapse collapse" aria-labelledby="faq3">
                    <div class="accordion-body">
                        <p>While impersonating characters from Detective Conan (or Cased Closed), he was mistakenly called "Hendy" after his friend kept pronouncing "Heiji" incorrectly. <a href="https://youtu.be/26I2EkW4_Zw" target="_blank" rel="noopener noreferrer">This video</a> explains the origin of Hendy's name in more detail.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item border-start-0 border-end-0 border-dark">
                <h2 class="accordion-header" id="faq4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q4" aria-expanded="false" aria-controls="q4">
                        What are Nijisanji, VSPO!, VApArt, VEEMusic, and Neo-Porte?
                    </button>
                </h2>
                <div id="q4" class="accordion-collapse collapse" aria-labelledby="faq4">
                    <div class="accordion-body">
                        <p>These are all VTuber agencies (except VApARt, which is a group under the agency 774 inc.), each with their own set of VTuber talents!</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item border-start-0 border-end-0 border-dark">
                <h2 class="accordion-header" id="faq5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q5" aria-expanded="false" aria-controls="q5">
                        Who's the kid with the bowl cut?
                    </button>
                </h2>
                <div id="q5" class="accordion-collapse collapse" aria-labelledby="faq5">
                    <div class="accordion-body">
                        <p>That's baby Hendy!</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item border-start-0 border-end-0 border-dark">
                <h2 class="accordion-header" id="faq6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q6" aria-expanded="false" aria-controls="q6">
                        What does てぇてぇ (tee-tee) mean?
                    </button>
                </h2>
                <div id="q6" class="accordion-collapse collapse" aria-labelledby="faq6">
                    <div class="accordion-body">
                        <p>It's a phrase used to indicate the closeness between two people, typically used to ship two people together.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}