{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block main %}
    <div class="container-fluid" style="margin-top: 80px;">
        <div class="row justify-content-center align-items-center">

            <div class="col-xxl-3 mx-2">
                <img src="/static/gil.png" height="400px" style="margin-bottom: 20px;">
            </div>

            <div class="col-xxl-5 mx-3">

                <h1>Gil-kun</h1>
                <p class="text-center">ギルくん &nbsp <a href="https://www.youtube.com/channel/UCw_5JxFEeih3-pEzcE86dRQ" target="_blank" rel="noopener noreferrer"><img src="/static/yt.png" height="30px"></a></p>

                <div class="row justify-content-center" style="font-weight: 500; font-size:16px; margin-bottom: 20px;">
                    <div class="col-3">
                        Birthday: 04/22
                    </div>

                    <div class="col-6">
                        Nicknames: Ishizuka Kyouma (real name), Guilty, Gill, Giruru
                    </div>

                    <div class="col-3">
                        Affiliation: None
                    </div>
                </div>

                <p class="text-start mx-auto" style="font-weight: 500; font-size:18px;">An OreApo fanboy that loves poking fun at Kamito and Hinano's relationship.
                He's often called a "troublesome viewer" for his jokes but gets flustered when the same is done to him. He mostly streams FPS games on Twitch, with
            Valorant being his main game.</p>

                <div class="youtube-video-container">
                    <iframe class="d-block youtube-video" src="https://www.youtube.com/embed/tgXOahcMDKs" style="pointer-events: auto; margin-top:20px; margin-bottom:30px;"></iframe>
                </div>

            </div>

        </div>
    </div>
{% endblock %}