{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block main %}
    <div class="container-fluid" style="margin-top: 80px;">
        <div class="row justify-content-center">

            <div class="col-xxl-3">
                <img src="/static/hendy.png" height="800px" alt="Hendy" style="margin-bottom: 20px;">
            </div>

            <div class="col-xxl-5 mx-3">

                <h1>Hendy</h1>
                <p class="text-center">ヘンディー &nbsp <a href="https://www.youtube.com/channel/UCOJJ_zlt10fZqZLbGyxJUPA" target="_blank" rel="noopener noreferrer"><img src="/static/yt.png" height="30px"></a></p>

                <div class="row justify-content-center" style="font-weight: 500; font-size:16px; margin-bottom: 20px;">
                    <div class="col-3">
                        Birthday: 03/12
                    </div>

                    <div class="col-6">
                        Nicknames: Yamashita Kaito (real name), Tonakaito, Yama-P, Tonahendy
                    </div>

                    <div class="col-3">
                        Affiliation: None
                    </div>
                </div>

                <p class="text-start mx-auto" style="font-weight: 500; font-size:18px;">A laid-back streamer who loves making jokes and playing with his VTuber friends! He always finds ways to make people laugh and sometimes grosses his friends out for giving off "old man" vibes.
                He has great synergy with his HenLisa counterpart, Hanabusa Lisa.</p>

                <div class="youtube-video-container">
                    <iframe class="d-block youtube-video" src="https://www.youtube.com/embed/Uw7ikhtrK64" style="pointer-events: auto; margin-top:20px; margin-bottom:30px;"></iframe>
                </div>

            </div>

        </div>
    </div>
{% endblock %}