{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block main %}
    <div class="container-fluid" style="margin-top: 80px;">
        <div class="row justify-content-center">

            <div class="col-xxl-3">
                <img src="/static/hinano.png" height="800px" style="margin-bottom: 20px;">
            </div>

            <div class="col-xxl-5 mx-3">

                <h1>Tachibana Hinano</h1>
                <p class="text-center">橘ひなの &nbsp <a href="https://www.youtube.com/channel/UCvUc0m317LWTTPZoBQV479A" target="_blank" rel="noopener noreferrer"><img src="/static/yt.png" height="30px"></a></p>

                <div class="row justify-content-center" style="font-weight: 500; font-size:16px; margin-bottom: 20px;">
                    <div class="col-3">
                        Birthday: 11/11
                    </div>

                    <div class="col-6">
                        Nicknames: Hina-no, Hi-chan, Apollo, Mama-no
                    </div>

                    <div class="col-3">
                        Affiliation: VSPO!
                    </div>
                </div>

                <p class="text-start mx-auto" style="font-weight: 500; font-size:18px;">One of VSPO!'s best gamers, Hinano has a fiery personality with a hidden sweet side to her snappy nature. She's often called a tsundere for not being honest with her feelings.
                    She's also known for her distinct laugh and wonderful <a href="https://youtu.be/YuTSkW3RqH8" target="_blank" rel="noopener noreferrer">cover songs</a>! Many people ask about her friendship with Kamito as part of OreApo.</p>

                <div class="youtube-video-container">
                    <iframe class="d-block youtube-video" src="https://www.youtube.com/embed/7BsZEyUlP6M" style="pointer-events: auto; margin-top:20px; margin-bottom:30px;"></iframe>
                </div>

            </div>

        </div>
    </div>
{% endblock %}