{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block main %}
    <div class="container-fluid" style="margin-top: 80px;">
        <div class="row justify-content-center">

            <div class="col-xxl-3">
                <img src="/static/kamito.png" height="800px" alt="Hanabusa Lisa" style="margin-bottom: 20px;">
            </div>

            <div class="col-xxl-5 mx-3">

                <h1>Kamito</h1>
                <p class="text-center">かみと &nbsp <a href="https://www.youtube.com/channel/UCgYCMluaLpERsyNXlPOvBtA" target="_blank" rel="noopener noreferrer"><img src="/static/yt.png" height="30px"></a></p>

                <div class="row justify-content-center" style="font-weight: 500; font-size:16px; margin-bottom: 20px;">
                    <div class="col-3">
                        Birthday: 01/27
                    </div>

                    <div class="col-6">
                        Nicknames: Otaku, Oreo, Kami-to, Papa, Sakamoto
                    </div>

                    <div class="col-3">
                        Affiliation: None
                    </div>
                </div>

                <p class="text-start mx-auto" style="font-weight: 500; font-size:18px;">Shy around strangers yet wacky around friends, Kamito is an independent VTuber that loves playing FPS games. His favorite weapon is the sniper rifle, and as a former professional gamer, he's always a high-ranking player!
                He often plays with his OreApo counterpart, Tachibana Hinano, and loves fanboying over his idol, Kanae.</p>

                <div class="youtube-video-container">
                    <iframe class="d-block youtube-video" src="https://www.youtube.com/embed/6gM52rUfDZo" style="pointer-events: auto; margin-top:20px; margin-bottom:30px;"></iframe>
                </div>

            </div>

        </div>
    </div>
{% endblock %}