{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block main %}
    <div class="container-fluid" style="margin-top: 80px;">
        <div class="row justify-content-center">

            <div class="col-xxl-3">
                <img src="/static/kanae.png" height="800px" style="margin-bottom: 20px;">
            </div>

            <div class="col-xxl-5 mx-3">

                <h1>Kanae</h1>
                <p class="text-center">叶 &nbsp <a href="https://www.youtube.com/c/KanaeChannel" target="_blank" rel="noopener noreferrer"><img src="/static/yt.png" height="30px"></a></p>

                <div class="row justify-content-center" style="font-weight: 500; font-size:16px; margin-bottom: 20px;">
                    <div class="col-3">
                        Birthday: 07/07
                    </div>

                    <div class="col-6">
                        Nicknames: Kana-Kana, Kana-chan
                    </div>

                    <div class="col-3">
                        Affiliation: Nijisanji
                    </div>
                </div>

                <p class="text-start mx-auto" style="font-weight: 500; font-size:18px;">An easy-going VTuber known for his professional-level communication skills.
                His charming personality made him a top Nijisanji member, and his sincere care for his friends ranks him as a top-level friend as well. However,
                he does love causing mischief with pranks and witty banter! </p>

                <div class="youtube-video-container">
                    <iframe class="d-block youtube-video" src="https://www.youtube.com/embed/l7lfYjVRz6A" style="pointer-events: auto; margin-top:20px; margin-bottom:30px;"></iframe>
                </div>

            </div>

        </div>
    </div>
{% endblock %}