{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block main %}
    <div class="container-fluid" style="margin-top: 80px;">
        <div class="row justify-content-center">

            <div class="col-xxl-3">
                <img src="/static/lisa.jpg" height="800px" alt="Hanabusa Lisa" style="margin-bottom: 20px;">
            </div>

            <div class="col-xxl-5 mx-3">

                <h1>Hanabusa Lisa</h1>
                <p class="text-center">英リサ &nbsp <a href="https://www.youtube.com/channel/UCurEA8YoqFwimJcAuSHU0MQ" target="_blank" rel="noopener noreferrer"><img src="/static/yt.png" height="30px"></a></p>

                <div class="row justify-content-center" style="font-weight: 500; font-size:16px; margin-bottom: 20px;">
                    <div class="col-3">
                        Birthday: 06/03
                    </div>

                    <div class="col-6">
                        Nicknames: Lisa-chan, Hanalisa
                    </div>

                    <div class="col-3">
                        Affiliation: VSPO!
                    </div>
                </div>

                <p class="text-start mx-auto" style="font-weight: 500; font-size:18px;">A cheerful gamer who loves drawing, eating food, and telling dirty jokes! She's often seen playing with
                her best friend, Tachibana Hinano, and collabing with Hendy to make up the dynamic duo of HenLisa. Many of her friends poke fun at her "<a href="https://youtu.be/NCJ-KfdstOc" target="_blank" rel="noopener noreferrer">dark past</a>" of writing edgy lyrics as a middle-schooler. </p>

                <div class="youtube-video-container">
                    <iframe class="d-block youtube-video" src="https://www.youtube.com/embed/yUxd0JXpc7o" style="pointer-events: auto; margin-top:20px; margin-bottom:30px;"></iframe>
                </div>

            </div>

        </div>
    </div>
{% endblock %}