{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-3">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="/lisa">
                        <img src="/static/lisa.jpg" class="card-img-top" alt="Hanabusa Lisa">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Hanabusa Lisa</h5>
                        <p class="card-text">英リサ</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="/hendy">
                        <img src="/static/hendy.png" class="card-img-top" alt="Hendy">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Hendy</h5>
                        <p class="card-text">ヘンディー</p>
                    </div>
                </div>
            </div>

            <!-- <div class="w-100 d-none d-md-block"></div> -->

            <div class="col-md-3">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="/kamito">
                        <img src="/static/kamito.png" class="card-img-top" alt="Kamito">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Kamito</h5>
                        <p class="card-text">かみと</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="/hinano">
                        <img src="/static/hinano.png" class="card-img-top" alt="Tachibana Hinano">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Tachibana Hinano</h5>
                        <p class="card-text">橘ひなの</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="/reid">
                        <img src="/static/reid.jpg" class="card-img-top" alt="Shirayuki Reid">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Shirayuki Reid</h5>
                        <p class="card-text">白雪レイド</p>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="/gorilla">
                        <img src="/static/gorilla.jpg" class="card-img-top" alt="Virtual Gorilla">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Virtual Gorilla</h5>
                        <p class="card-text">バーチャルゴリラ</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="/gil">
                        <img src="/static/gil.png" class="card-img-top" alt="Gil-kun">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Gil-kun</h5>
                        <p class="card-text">ギルくん</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="/met">
                        <img src="/static/met.png" class="card-img-top" alt="Komori Met">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Komori Met</h5>
                        <p class="card-text">小森めと</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="/noah">
                        <img src="/static/noah.png" class="card-img-top" alt="Kurumi Noah">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Kurumi Noah</h5>
                        <p class="card-text">胡桃のあ</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="/kanae">
                        <img src="/static/kanae.png" class="card-img-top" alt="Kanae">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Kanae</h5>
                        <p class="card-text">叶</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border-0 mb-4" style="background: transparent;">
                    <a href="/bora">
                        <img src="/static/bora.png" class="card-img-top" alt="Nun Bora">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Nun Bora</h5>
                        <p class="card-text">눈보라 / ヌンボラ</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}