{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block main %}
    <div class="container-fluid" style="margin-top: 80px;">
        <div class="row justify-content-center">

            <div class="col-xxl-3 mx-2">
                <img src="/static/met.png" height="800px" style="margin-bottom: 20px;">
            </div>

            <div class="col-xxl-5 mx-3">

                <h1>Komori Met</h1>
                <p class="text-center">小森めと &nbsp <a href="https://www.youtube.com/channel/UCzUNASdzI4PV5SlqtYwAkKQ" target="_blank" rel="noopener noreferrer"><img src="/static/yt.png" height="30px"></a></p>

                <div class="row justify-content-center" style="font-weight: 500; font-size:16px; margin-bottom: 20px;">
                    <div class="col-3">
                        Birthday: 12/10
                    </div>

                    <div class="col-6">
                        Nicknames: Met-san, Messan
                    </div>

                    <div class="col-3">
                        Affiliation: VApArt
                    </div>
                </div>

                <p class="text-start mx-auto" style="font-weight: 500; font-size:18px;">A lively shut-in NEET who loves cute girls and talking with friends! Her funny conversations and carefree personality draw her audience, and her gaming skills don't disappoint (most of the time).
                    She gets embarrassed when someone mentions her catchphrase, so her friends say it all the time.</p>

                <div class="youtube-video-container">
                    <iframe class="d-block youtube-video" src="https://www.youtube.com/embed/WwO62e5xHuU" style="pointer-events: auto; margin-top:20px; margin-bottom:30px;"></iframe>
                </div>

            </div>

        </div>
    </div>
{% endblock %}