{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block main %}
    <div class="container-fluid" style="margin-top: 80px;">
        <div class="row justify-content-center">

            <div class="col-xxl-3">
                <img src="/static/noah.png" height="800px" style="margin-bottom: 20px;">
            </div>

            <div class="col-xxl-5 mx-3">

                <h1>Kurumi Noah</h1>
                <p class="text-center">胡桃のあ &nbsp <a href="https://www.youtube.com/channel/UCIcAj6WkJ8vZ7DeJVgmeqKw" target="_blank" rel="noopener noreferrer"><img src="/static/yt.png" height="30px"></a></p>

                <div class="row justify-content-center" style="font-weight: 500; font-size:16px; margin-bottom: 20px;">
                    <div class="col-3">
                        Birthday: 02/13
                    </div>

                    <div class="col-6">
                        Nicknames: Noah-chan
                    </div>

                    <div class="col-3">
                        Affiliation: VSPO!
                    </div>
                </div>

                <p class="text-start mx-auto" style="font-weight: 500; font-size:18px;">A tomboyish VTuber who loves challenging herself as much as she loves
                    playing with friends. She has fun talking with her chat and playing tricks on friends, and she's also a great <a href="https://youtu.be/7Fs6kbbk8RE" target="_blank" rel="noopener noreferrer">singer</a>.
                 Don't let her cute looks and adorable voice fool you though, as she also likes dirty jokes!</p>

                <div class="youtube-video-container">
                    <iframe class="d-block youtube-video" src="https://www.youtube.com/embed/4H9aNQCAiMU" style="pointer-events: auto; margin-top:20px; margin-bottom:30px;"></iframe>
                </div>

            </div>

        </div>
    </div>
{% endblock %}