{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}

{% block main %}
    <div class="container-fluid" style="margin-top: 80px;">
        <div class="row justify-content-center">

            <div class="col-xxl-3 mx-3">
                <img src="/static/reid.jpg" height="800px" alt="Hendy" style="margin-bottom: 20px;">
            </div>

            <div class="col-xxl-5 mx-3">

                <h1>Shirayuki Reid</h1>
                <p class="text-center">白雪レイド &nbsp <a href="https://www.youtube.com/channel/UCIu-aUArYq_H84dBpCAokMA" target="_blank" rel="noopener noreferrer"><img src="/static/yt.png" height="30px"></a></p>

                <div class="row justify-content-center" style="font-weight: 500; font-size:16px; margin-bottom: 20px;">
                    <div class="col-3">
                        Birthday: 02/24
                    </div>

                    <div class="col-6">
                        Nicknames: Reid-kun, Base Bread Ambassador
                    </div>

                    <div class="col-3">
                        Affiliation: Neo-Porte
                    </div>
                </div>

                <p class="text-start mx-auto" style="font-weight: 500; font-size:18px;">A self-proclaimed prince with a cool personality and refreshing voice!
                    He's very close with those in his community, although his love for Base Bread is said to be a bit overwhelming.
                    He's now one of Neo-Porte's founding members, debuting alongside TSM's Shibuya Hal.</p>

                <div class="youtube-video-container">
                    <iframe class="d-block youtube-video" src="https://www.youtube.com/embed/qtIl9OSU7cg" style="pointer-events: auto; margin-top:20px; margin-bottom:30px;"></iframe>
                </div>

            </div>

        </div>
    </div>
{% endblock %}